@use "../../styles/mixins";

.modalTitle {
  margin-top: 0.375rem;
  line-height: 1.25rem;
}

.modalDialog {
  height: 37rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(37rem + var(--safe-area-bottom));
  }
}

.dialogBehindSelector {
  pointer-events: none;
  opacity: 0 !important;
}

.stakingInfoModalDialog {
  overflow: hidden;
}

.initialHeader {
  position: relative;
}

.initialHeaderWithSwitcher {
  margin-bottom: 0.375rem;
}

.accountPill {
  @include mixins.accountPillPosition();
}

.textButton {
  align-self: flex-start;

  min-width: 0 !important;
  padding: 0;

  font-size: 0.9375rem !important;
  font-weight: 600;
  line-height: 0.9375rem !important;
  color: var(--color-accent);

  transition: opacity 150ms;

  &:hover,
  &:active {
    opacity: 0.8;
  }

  & + .textButton {
    margin-top: 0.75rem;
  }
}

.stakingSafeDialog {
  border-radius: var(--border-radius-default) !important;
}

.amountBottomRight {
  transition: color 150ms;

  &_error {
    unicode-bidi: plaintext;
    color: var(--color-red);
  }

  &_slide {
    unicode-bidi: plaintext;
    background: var(--background-color);
  }

  &.animating {
    > .from {
      animation-duration: 150ms !important;
    }

    > .to {
      animation-duration: 150ms !important;
    }
  }
}

.balanceError {
  color: var(--color-red);
}

.historyTotalValue {
  unicode-bidi: plaintext;
  font-weight: 600;
}

.detailsSection,
.stakingBalance {
  --color-accent: var(--color-purple-1);

  margin-bottom: 0.75rem;
}

.amountInputContainer {
  height: auto;
  margin-top: 0.6875rem;
  margin-bottom: 1.1875rem;
}

.detailsSectionTitle {
  margin-bottom: 0.4375rem;
  padding: 0 0.5rem;

  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1rem;
  color: var(--color-gray-2);
}

.detailsCard {
  overflow: hidden;
  border-radius: 1.5rem;
  background: var(--color-background-first);
}

.detailsRow {
  position: relative;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  min-height: 3rem;
  padding: 0.6875rem 1rem;

  @include mixins.separatorList(1rem);

  &_button {
    cursor: var(--custom-cursor, pointer);

    width: 100%;
    border: 0;

    text-align: start;

    background: none;

    @include mixins.transition(background-color 150ms);

    @media (hover: hover) {
      &:focus-visible,
      &:hover {
        background-color: var(--color-interactive-item-hover);
      }
    }
  }
}

.detailsLabel {
  min-width: 0;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--color-black);

  .detailsRow_button > & {
    color: var(--color-accent);
  }
}

.detailsValue {
  unicode-bidi: plaintext;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;

  min-width: 0;
  margin-inline-start: auto;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--color-black);
  text-align: end;

  &_highlight {
    background: var(--color-gradient-main-purple-green);
    background-clip: text;

    -webkit-text-fill-color: transparent;
  }

  &_highlightBlock {
    padding: 0.1875rem 0.25rem;
    border-radius: 0.5rem;

    font-size: 0.9375rem;
    color: var(--color-white);

    background: var(--color-gradient-main-purple-green);
  }
}

.detailsArrow {
  flex-shrink: 0;
  font-size: 1rem;
  color: var(--color-gray-3);
}

.detailsTextButton {
  margin: 0 0 0.25rem;
  padding: 0 0.125rem;
}

.submitButton {
  border-radius: 1.5rem !important;
}

.stakingInfoModal {
  overflow: hidden;
  max-height: 19.875rem !important;

  &_withHistory {
    max-height: calc(95 * var(--vh, 1vh)) !important;

    @media (min-width: 600.01px) {
      max-height: 100% !important;
    }
  }
}

.stakingInfo {
  --color-accent-button-text: var(--color-purple-button-text);
  --color-accent-button-text-hover: var(--color-purple-button-text-hover);
  --color-accent-button-background: var(--color-purple-button-background);
  --color-accent-button-background-hover: var(--color-purple-button-background-hover);
  --color-gray-button-text: var(--color-graypurple-button-text-rest);
  --color-gray-button-background: var(--color-graypurple-button-background-rest);
  --color-gray-button-text-hover: var(--color-graypurple-button-text-hover);
  --color-gray-button-background-hover: var(--color-graypurple-button-background-hover);

  --color-black: var(--color-purple-1);
  --color-close-button-text: var(--color-graypurple-button-text-rest);
  --color-close-button-text-hover: var(--color-graypurple-button-text-hover);
  --color-close-button-background: var(--color-graypurple-button-background-rest);
  --color-close-button-background-hover: var(--color-graypurple-button-background-hover);

  --sensitive-data-extra-width: 0.5rem;

  border-radius: var(--border-radius-small);
  background: var(--color-background-purple-2);

  &_modal {
    padding: 0 1rem 1rem;
    border-radius: var(--border-radius-default);

    @include mixins.respond-below(xs) {
      :global(.is-android) & {
        border-start-start-radius: 0;
        border-start-end-radius: 0;
      }

    }
  }

  &:global(.staking-info) {
    position: relative;
    background: none;

    &::before {
      content: '';

      position: absolute;
      top: -1rem;
      bottom: -1rem;
      inset-inline-start: -1rem;
      inset-inline-end: -1rem;

      border-start-start-radius: var(--border-radius-default);
      border-start-end-radius: 0;
      border-end-start-radius: var(--border-radius-default);
      border-end-end-radius: var(--border-radius-default);

      background: var(--color-background-purple-2);
    }
  }
}

.accountPillPurple {
  --account-pill-background: var(--color-graypurple-button-background-rest);
  --account-pill-background-hover: var(--color-graypurple-button-background-hover);
  --account-pill-caret-color: var(--color-graypurple-button-text-rest);
}

@include mixins.respond-below(xs) {
  .stakingInfoNoHistory {
    border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;

    @supports (padding-bottom: max(1rem, var(--safe-area-bottom))) {
      padding-bottom: max(1rem, var(--safe-area-bottom))
    }
  }
}

.stakingInfoModalContent {
  min-height: 0;

  @media (max-height: 639.8px) {
    border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;

    .history {
      // Workaround for the bottom padding on flex layout
      &::after {
        content: '';
        flex-shrink: 0;
        height: 1rem;
      }

      @include mixins.adapt-padding-to-scrollbar(1rem);
    }
  }

  @media (min-height: 640px) {
    .historyList {
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }

  &.withBackground {
    border-start-start-radius: var(--border-radius-default);
    border-start-end-radius: var(--border-radius-default);
    background: var(--color-background-purple-2);

    @include mixins.respond-above(xs) {
      border-radius: var(--border-radius-default);
    }

    :global(.is-android) & {
      border-radius: 0;
    }
  }

  @include mixins.respond-above(xs) {
    max-height: min(80vh, 48rem);
  }
}

.stakingInfoLoading {
  align-self: center;
  width: 0;
}

.stakingInfoLoadingAnimation {
  --spinner-size: 1.5rem;

  position: relative;
  inset-inline-end: 2.5rem;
}

.stakingInfoClose {
  position: relative;
  inset-inline-start: 1rem;
}

.stakingInfoButtons {
  position: relative;
  display: flex;
  gap: 0.5rem;
  margin-top: 1.25rem;

  &_withMargin {
    margin-bottom: 2rem;
  }

  &_adaptiveWidth {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));

    & .stakingInfoButton {
      min-width: 4rem !important;
      padding: 0.5rem !important;
    }
  }
}

.stakingInfoButton {
  unicode-bidi: plaintext;

  width: 100%;
  min-width: 8rem !important;
  max-width: 100% !important;

  font-size: 0.9375rem !important;
}

.checkEligibilityButton {
  position: relative;

  margin: 1rem auto;

  font-size: 1rem !important;
  color: var(--color-graypurple-button-text-rest);

  background: linear-gradient(81.88deg, var(--color-purple-1) 19.42%, #1EC160 71.55%);
  background-clip: text;

  transition: opacity 150ms;

  -webkit-text-fill-color: transparent;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }
  }
}

.insufficientBalance {
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-red);
  text-align: center;
}

.unstakeTime {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 19rem;
  margin: 0.25rem auto 0;
  padding: 0.75rem;
  border-radius: var(--border-radius-buttons);

  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--color-gray-1);
  text-align: center;

  background: var(--color-gray-button-background-light);

  &_purple {
    margin-top: 1.25rem;
    color: var(--color-graypurple-button-text-rest);
    background: var(--color-graypurple-button-background-rest);
  }
}

.unstakeTimeIcon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1rem;
}

.history {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-height: 0;
  padding: 1.25rem 1rem 1rem;

  &_static {
    padding: 2.25rem 0 0;
  }
}

.historyTotal {
  position: absolute;
  top: 1.25rem;
  inset-inline-end: 1.5rem;

  font-size: 0.8125rem;
  line-height: 0.8125rem;
  color: var(--color-gray-2);

  .history_static & {
    top: 2.25rem;
    inset-inline-end: 0;
  }
}

.historyTitle {
  margin-inline-start: 0.5rem;

  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 0.8125rem;
  color: var(--color-gray-2);

  .history_static & {
    margin-inline-start: 0;
  }
}

.historyList {
  flex-grow: 1;
  margin-top: 0.5rem;
  border-radius: var(--border-radius-default);
  background: var(--color-background-first);

  &_static {
    margin-bottom: -1rem;
    margin-inline-start: -1rem;
    margin-inline-end: -1rem;
  }
}

.transactionBanner {
  align-self: center;
  margin-bottom: 2rem;
}

.unstakeInfoTransition.unstakeInfoTransition { // The goal is overriding the Transition's height style
  height: 4rem;
}

.unstakeInfo {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 19rem;
  margin: 0.25rem auto 0;
  padding: 0.75rem;
  border-radius: var(--border-radius-buttons);

  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-transaction-amount-green-text);
  text-align: center;

  background: var(--color-transaction-amount-green-bg);
}
