.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  padding: 1.5rem;

  text-align: center;
}

.asset {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.asset strong {
  font-size: 1.5rem;
}

.asset span,
.content p {
  color: var(--color-gray-2);
}

.content p {
  margin: 1rem 0 0;
}
